@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
    .nav__logo {
        font-size: 3.9rem;
    }

    .nav__list {
        gap: 2.6rem;
    }
}

@media (max-width: 768px) {
    .nav__logo {
        font-size: 4rem;
    }

    .nav__toggle-icon {
        display: flex;
    }

    .nav__list {
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 0;
        border-radius: 0.2rem;
        border: solid 1px black;
        height: 0;
        opacity: 0;
        transition: 0.20s;
    }

    .nav__list--open {
        height: 38.5rem;
        opacity: 1;
    }

}

@media (max-width: 576px) {


    .nav__toggle-icon {
        display: flex;
    }
}