@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
    .nav__logo {
        font-size: 3.9rem;
    }

    .nav__list {
        gap: 2.6rem;
    }
}

@media (max-width: 768px) {
    .nav__logo {
        font-size: 4rem;
    }

    .nav__toggle-icon {
        display: flex;
    }

    .nav__list {
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        right: 0;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 0;
        overflow: hidden;
        transition: 0.20s;
    }

    .nav__list--open {
        height: 38rem;
    }


    .overlay {
        position: fixed;
        top: 10.3rem;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 5%);
        z-index: -1;
        opacity: 0;
        transition: 0.20s;
    }

    .overlay--show {
        opacity: 1;
        z-index: 100;
    }
}

@media (max-width: 576px) {


    .nav__toggle-icon {
        display: flex;
    }
}