@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
    .nav__logo {
        font-size: 3.9rem;
    }

    .nav__list {
        gap: 2.6rem;
    }
}

@media (max-width: 768px) {
    .nav__logo {
        font-size: 4rem;
    }

    .nav__toggle-icon {
        display: flex;
    }

    .nav__list {
        display: none;
    }
}

@media (max-width: 576px) {


    .nav__toggle-icon {
        display: flex;
    }
}