/* 
====================
    My Reset 
====================
*/

:root {
    --dark-color: #333333;
    --dark-aqua: #0ABEAD;
}

/* 
====================
    My Reset 
====================
*/

html {
    font-size: 10px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins Regular";
}

a {
    text-decoration: none;
}

.container {
    position: relative;
}


/* 
====================
    Helper Class 
====================
*/
.hidden {
    display: none;
}

/* 
====================
    Header 
====================
*/

.header {
    box-shadow: 0 12px 20px 0px rgba(4, 195, 255, 10%);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.nav__logo {
    color: var(--dark-aqua);
    font-size: 4.5rem;
    font-family: "Poppins Black";
}

.nav__list {
    display: flex;
    gap: 3.5rem;
    z-index: 101;
}

/* .nav__item {} */

.nav__link {
    color: var(--dark-color);
    font-family: "Poppins Medium";
    transition: 0.2s;
}

.nav__link:hover {
    color: var(--dark-aqua);
}

.nav__link--open {
    color: var(--dark-aqua);
}

/* 
====================
 Mobile Toggle Icon 
====================
*/

.nav__toggle-icon {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    display: none;
    z-index: 101;
}

.nav__toggle-line,
.nav__toggle-line::before,
.nav__toggle-line::after {
    width: 4.5rem;
    height: 0.4rem;
    background-color: var(--dark-aqua);
    border-radius: 1rem;
    transition: 0.2s;

}

.nav__toggle-line::before {
    content: "";
    position: absolute;
    top: 1.2rem;
}

.nav__toggle-line::after {
    content: "";
    position: absolute;
    bottom: 1.2rem;
}

.nav__toggle-icon--open .nav__toggle-line {
    background-color: transparent;
    transition: 0.02s;
}

.nav__toggle-icon--open .nav__toggle-line::before {
    transform: translateY(1rem) rotate(45deg);
}

.nav__toggle-icon--open .nav__toggle-line::after {
    transform: translateY(-1.1rem) rotate(-45deg);
}