/* 
====================
    My Reset 
====================
*/

:root {
    --dark-color: #333333;
    --dark-aqua: #0ABEAD;
    --orange: #F57F17;
}

/* 
====================
    My Reset 
====================
*/

html {
    font-size: 10px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins Regular";
}

a {
    text-decoration: none;
}

.container {
    position: relative;
}


/* 
====================
    Helper Class 
====================
*/

.hidden {
    display: none;
}

/* 
====================
    Component 
====================
*/

.btns {
    display: block;
    width: 13.7rem;
    height: 4.3rem;
    background-color: var(--dark-aqua);
    text-align: center;
    line-height: 4.3rem;
    border-radius: 5rem;
    font-family: "Poppins SemiBold";
    color: #fff;
    font-size: 1.2rem;
    box-shadow: 0 0 20px 10px rgba(4, 195, 255, 10%);

}

/* ------ Section Head ------ */

.section-head {
    padding: 6rem 0;
    text-align: center;
    color: var(--dark-aqua);
}

.section-head__title {
    font-family: "Poppins Bold";
    font-size: 4rem;
}

.section-head__caption {
    letter-spacing: 0.2rem;
}

.section-head__underline {
    width: 25rem;
    height: 0.3rem;
    margin: 3rem auto;
    border-radius: 1rem;
    background-color: var(--dark-aqua);
    position: relative;
}

.section-head__underline-shape {
    width: 3.5rem;
    height: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.3rem;
    margin: 0 auto;
    border-radius: 1rem;
    background-color: var(--dark-aqua);
}


/* 
====================
    Header 
====================
*/

.header {
    box-shadow: 0 12px 20px 0px rgba(4, 195, 255, 10%);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.nav__logo {
    color: var(--dark-aqua);
    font-size: 4.5rem;
    font-family: "Poppins Black";
}

.nav__list {
    display: flex;
    gap: 3.5rem;
    z-index: 101;
}

/* .nav__item {} */

.nav__link {
    color: var(--dark-color);
    font-family: "Poppins Medium";
    transition: 0.2s;
}

.nav__link:hover {
    color: var(--dark-aqua);
}

.nav__link--open {
    color: var(--dark-aqua);
}

/* 
====================
 Mobile Toggle Icon 
====================
*/

.nav__toggle-icon {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    display: none;
    z-index: 101;
}

.nav__toggle-line,
.nav__toggle-line::before,
.nav__toggle-line::after {
    width: 4.5rem;
    height: 0.4rem;
    background-color: var(--dark-aqua);
    border-radius: 1rem;
    transition: 0.2s;

}

.nav__toggle-line::before {
    content: "";
    position: absolute;
    top: 1.2rem;
}

.nav__toggle-line::after {
    content: "";
    position: absolute;
    bottom: 1.2rem;
}

.nav__toggle-icon--open .nav__toggle-line {
    background-color: transparent;
    transition: 0.02s;
}

.nav__toggle-icon--open .nav__toggle-line::before {
    transform: translateY(1rem) rotate(45deg);
}

.nav__toggle-icon--open .nav__toggle-line::after {
    transform: translateY(-1.1rem) rotate(-45deg);
}

/* 
====================
        Home 
====================
*/

.home {
    padding: 10rem 0;
}

.home__content {
    width: 44rem;
    margin: 0 auto;
}

.home__content-text {
    font-family: "Poppins SemiBold";
    color: var(--dark-aqua);
    font-size: 2.2rem;
}

.home__content-text span {
    color: var(--orange);
}

.home__content-title {
    font-family: 'Poppins Bold';
    color: var(--dark-aqua);
    font-size: 4.5rem;
    margin: 1.5rem 0;
}

.home__content-caption {
    font-family: "Poppins Regular";
    font-size: 1.3rem;
    margin-bottom: 3.5rem;
    color: rgba(51, 51, 51, 71%);
}

.home__content-links {
    width: 35rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.home__content-link:last-child {
    background-color: var(--orange);
    box-shadow: 0 0 20px 10px rgba(255, 75, 4, 0.1);

}

/* .home__content-link {} */

.home__photo {
    width: 40rem;
    height: 40rem;
    background: url('../images/header-avatar.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    border: solid 1.5rem #ffffff;
    box-shadow: 0 0 20px 10px rgba(4, 195, 255, 10%);

}

.home__shape {
    width: 100%;
    height: 40rem;
    background: url('../images/shapes/home-shape.svg') no-repeat;
    background-position: center;

}

/* 
====================
       About 
====================
*/

.about {}